.wrapper {
    height: 46px;
    background: rgba(22, 24, 35, 0.06);
    border-radius: 92px;
    padding-left: 16px;
    display: flex;
    align-items: center;
    position: relative;
    border: 1.5px solid transparent;

    input {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 22px;
        caret-color: rgba(254, 44, 85, 1);
        font-family: 'ProximaNova';
        border: none;
        background-color: transparent;
        outline: none;
        flex: 1;
        padding-right: 36px;
    }

    input::placeholder {
        opacity: 0.65;
    }

    input:not(:placeholder-shown) ~ .search-btn svg {
        fill: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        right: 52px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.wrapper,
.search-result {
    width: 361px;
}

.clear-btn,
.loading {
    position: absolute;
    right: 60px;
    background-color: transparent;
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.loading {
    animation: spin 1s linear infinite;
}

.search-btn {
    padding: 11px 16px 11px 12px;
    background-color: transparent;
    border-top-right-radius: 92px;
    border-bottom-right-radius: 92px;
    cursor: pointer;

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}

.search-title {
    height: 26px;
    padding: 0 12px;
    font-size: 1.4rem;
    line-height: 20px;
    font-weight: 600;
    color: rgba(22, 24, 35, 0.5);
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 768px) {
    .wrapper {
        display: none;
    }
}
