.wrapper {
    font-size: 1.6rem;
    font-weight: 700;
    min-width: 100px;
    padding: 6px 16px;
    border-radius: 4px;
    line-height: 22px;
    cursor: pointer;
    background-color: white;
    border: 1px solid transparent;
    user-select: none;
    font-family: 'ProximaNova';

    + .wrapper {
        margin-left: 16px;
    }

    &.disable {
        pointer-events: none;
        opacity: 0.5;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}

.icon {
    display: inline-block;
    font-size: 20px;
}

// button type

.rounded {
    border-radius: 99px;
    color: rgba(22, 24, 35, 0.75);
    box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
    border-color: rgba(22, 24, 35, 0.12);

    &:hover {
        border-color: rgba(22, 24, 35, 0.2);
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.primary {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--primary);
    border-color: var(--primary);

    &:hover {
        background: linear-gradient(
                0deg,
                rgba(0, 0, 0, 0.06),
                rgba(0, 0, 0, 0.06)
            ),
            #fe2c55;
        border-color: var(--primary);
    }
}
.outline {
    border-color: var(--primary);
    color: var(--primary);
    &:hover {
        border-color: var(--primary);
        background-color: rgba(254, 44, 85, 0.06);
    }
}

.text {
    border-color: rgba(22, 24, 35, 0.12);
    font-weight: 600;
    height: 36px;
    display: flex;
    &:hover {
        text-decoration: underline;
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.black {
    border-color: rgba(22, 24, 35, 0.12);
    color: rgb(22, 24, 35);
    &:hover {
        background-color: rgb(248, 248, 248);
        border-color: rgb(208, 209, 211);
    }
}

//button size
.small {
    min-width: 88px;
    padding: 4px 16px;
}
.large {
    padding: 14px 16px;
    min-width: 140px;
}
