.wrapper {
    display: flex;
    flex-direction: column;
    padding: 32px 0 32px 24px;
    min-height: calc(100vh - 59px);
    height: 1000px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
}

.info-thumb {
    display: flex;

    .avatar {
        height: 116px;
        width: 116px;
        border-radius: 50%;
        object-fit: cover;
    }
}

.info-state {
    margin-left: 20px;

    h2 {
        font-family: 'SofiaPro';
        font-weight: 700;
        font-size: 3.2rem;
        line-height: 3.8rem;
        padding-bottom: 4px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: left;

        span svg {
            width: 20px;
            height: 20px;
        }
    }

    h1 {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        text-overflow: ellipsis;
        height: 25px;
        overflow: hidden;
        max-width: 450px;
        font-family: 'ProximaNova';
    }

    .btn {
        cursor: pointer;
        box-sizing: border-box;
        min-width: 208px;
        line-height: 22px;
        user-select: none;
        font-size: 1.8rem;
        font-family: 'SofiaPro';
        font-weight: 600;
        margin-top: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            text-decoration: none;
        }
    }

    .follow-btn {
        display: flex;
        align-items: center;

        .unfollow {
            width: 36px;
            height: 36px;
            background-color: transparent;
            border: 1px solid rgba(22, 24, 35, 0.12);
            border-radius: 4px;
            margin-left: 8px;
            margin-top: 16px;
            cursor: pointer;

            &:hover {
                background-color: rgba(22, 24, 35, 0.03);
            }
        }
    }
}

.info-famuos-count {
    align-items: center;
    margin-top: 22px;
    color: rgba(18, 18, 18, 0.75);

    strong {
        margin-right: 6px;
        font-size: 1.8rem;
        line-height: 2.5rem;
        font-weight: 700;
    }

    span {
        margin-right: 20px;
        font-family: 'ProximaNova';
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 2.2rem;
        display: inline-block;
    }
}

.info-description {
    text-align: left;
    font-family: 'ProximaNova';
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.2rem;
    color: rgba(18, 18, 18, 1);
    white-space: pre-line;
    margin-top: 10px;
    width: 400px;
}

.info-link {
    font-family: 'SofiaPro';
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 2.2rem;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-top: 5px;

    span {
        display: flex;
        margin-right: 2px;
    }
}

.container {
    p {
        font-family: 'SofiaPro';
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 2.5rem;
        position: relative;
        height: 44px;
        width: 230px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        text-align: center;
        color: rgb(18, 18, 18);
        border-bottom: 2px solid rgb(22, 24, 35);
        z-index: -1;
    }
}

.video-list {
    margin-top: 8px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.video-box {
    padding-right: 14px;
    padding-bottom: 36px;
    cursor: pointer;
}

.video {
    min-height: 300px;
    max-height: 300px;
    width: 212px;
    border-radius: 4px;
    object-fit: cover;
}

.description {
    display: block;
    font-size: 1.6rem;
    margin-top: 2px;
    margin-left: 4px;
    width: 180px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: rgba(22, 24, 35, 1);
    font-family: 'ProximaNova';
}

.wrapper-edit {
    height: 660px;
    width: 660px;
    border-radius: 8px;
}

.edit-title {
    font-family: 'ProximaNova';
    font-weight: 600;
    font-size: 2.4rem;
    padding: 4px 4px 12px;
    line-height: 36px;
    color: rgb(22, 24, 35);
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(22, 24, 35);

    button {
        background-color: transparent;
        cursor: pointer;
        svg {
            width: 24px;
            height: 24px;
        }
    }
}

.edit-profile {
    display: flex;
    padding: 16px 0px;
    border-bottom: 1px solid rgba(22, 24, 35, 0.12);

    .edit-img {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 96px;
            width: 96px;
            border-radius: 50%;
            object-fit: cover;
            position: relative;
            margin-right: 150px;
        }
        .edit-btn {
            position: absolute;
            margin-right: 70px;
            margin-top: 70px;
            border: 1px solid rgba(22, 24, 35, 0.12);
            background-color: white;
            height: 32px;
            width: 32px;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.edit-p {
    width: 144px;
    height: 96px;
    font-family: 'ProximaNova';
    font-weight: 600;
    line-height: 2.4rem;
    font-size: 1.6rem;
}
.edit-input {
    width: 360px;
    height: 38px;
    border-radius: 4px;
    background: rgba(22, 24, 35, 0.06);
    caret-color: rgb(254, 44, 85);
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    line-height: 2.4rem;
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;

    &:focus {
        background: rgba(22, 24, 35, 0.06);
        outline: rgba(22, 24, 35, 0.2) solid 1.5px;
    }
}

.edit-details {
    font-size: 1.2rem;
    color: rgba(22, 24, 35, 0.75);
    line-height: 1.8rem;
    margin-top: 16px;
    max-width: 360px;
    overflow: hidden;
}

.edit-bio {
    width: 360px;
    height: 100px;
    border-radius: 4px;
    background: rgba(22, 24, 35, 0.06);
    caret-color: rgb(254, 44, 85);
    font-size: 1.6rem;
    color: rgb(22, 24, 35);
    line-height: 2.4rem;
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;

    &:focus {
        background: rgba(22, 24, 35, 0.06);
        outline: rgba(22, 24, 35, 0.2) solid 1.5px;
    }
}

.edit-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 78px;
    width: 100%;

    .edit-button-close {
        color: rgb(22, 24, 35);
        border: 1px solid rgba(22, 24, 35, 0.12);
        background-color: rgb(255, 255, 255);
        min-height: 28px;
        font-family: 'ProximaNova';
        font-size: 1.4rem;
        font-weight: 600;
        padding: 7px 16px;
        width: 96px;
        height: 36px;
        margin-right: 16px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
            border-color: rgb(208, 209, 211);
            background-color: rgb(248, 248, 248);
        }
    }
    .edit-button-save-disabled {
        border: 1px solid;
        min-height: 28px;
        font-family: 'ProximaNova';
        font-size: 1.4rem;
        font-weight: 600;
        padding: 7px 16px;
        width: 96px;
        height: 36px;
        margin-right: 16px;
        border-radius: 4px;
        border: none;
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(22, 24, 35, 0.06);
        pointer-events: none;
    }

    .edit-button-save {
        border: 1px solid;
        min-height: 28px;
        font-family: 'ProximaNova';
        font-size: 1.4rem;
        font-weight: 600;
        padding: 7px 16px;
        width: 96px;
        height: 36px;
        margin-right: 16px;
        border-radius: 4px;
        border: none;
        color: rgb(255, 255, 255);
        background-color: rgb(254, 44, 85);
        cursor: pointer;

        &:hover {
            background: linear-gradient(
                    0deg,
                    rgba(0, 0, 0, 0.06),
                    rgba(0, 0, 0, 0.06)
                ),
                rgb(254, 44, 85);
        }
    }
}

.edit-file {
    position: absolute;
    transform: translateX(-110px);
    height: 20px;
    opacity: 0;
    cursor: pointer;
}
