.wrapper {
    background-color: rgb(248, 248, 248);
    height: calc(100vh - 60px);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 16px;
}

.container {
    width: 1100px;
    padding: 24px 56px;
    box-shadow: rgb(0 0 0 / 6%) 0px 2px 8px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);

    h2 {
        font-size: 2.4rem;
        line-height: 3.6rem;
        color: rgba(22, 24, 35, 1);
    }

    .title-post {
        font-size: 1.8rem;
        line-height: 2.7rem;
        margin-top: 2px;
        color: rgba(22, 24, 35, 0.5);
    }
}

.content {
    display: flex;
    margin-top: 24px;
    margin-bottom: 130px;
}

.up-video {
    .select-video {
        margin-top: 24px;
        height: 458px;
        width: 260px;
        border: 2px dashed rgba(22, 24, 35, 0.2);
        border-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 35px;
        flex-direction: column;
        font-family: 'ProximaNova';
        cursor: pointer;
        position: relative;

        input[type='file'] {
            display: block;
            height: 100%;
            width: 100%;
            opacity: 0;
            position: absolute;
            right: 0px;
            top: 0px;
            cursor: pointer;
        }

        p {
            font-size: 1.8rem;
            line-height: 2.7rem;
            font-weight: 600;
            color: rgba(22, 24, 35, 1);
            margin-top: 24px;
        }

        span {
            font-size: 1.4rem;
            line-height: 2.6rem;
            font-weight: 400;
            color: rgba(22, 24, 35, 0.75);
            opacity: 0.8;
        }

        .span1 {
            margin-top: 4px;
            margin-bottom: 24px;
        }

        .span2 {
            margin-bottom: 6px;
            text-align: center;
        }

        .btn-select {
            margin-top: 24px;
            width: 186px;
            height: 36px;
        }
        .btn-select span {
            color: #fff;
            font-size: 1.6rem;
            font-weight: 600;
            opacity: 1;
        }

        &:hover {
            background: rgba(22, 24, 35, 0.03);
            border: 2px dashed rgb(254, 44, 85);
        }
    }
}
.video-content {
    background-image: url(../../assets/images/phone.png);
    background-color: #000;
    border-radius: 20px;
    width: 284px;
    height: 556px;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .video-picked {
        width: 260px;
        margin-bottom: 40px;
        height: auto;
        object-fit: cover;
        border-radius: 4px;
    }
    .video-title {
        position: absolute;
        display: flex;
        top: 30px;
        -webkit-box-pack: center;
        justify-content: center;
        z-index: 2;
        width: 100%;
        opacity: 0.6;
        font-size: 12px;
        line-height: 17px;
        color: white;
        font-family: 'ProximaNova';
        font-weight: 700;
        span:first-child {
            opacity: 0.8;
        }
        span {
            margin-right: 26px;
        }
    }

    .video-icon {
        display: flex;
        flex-direction: column;
        position: absolute;
        align-items: center;
        right: 16px;
        width: 50px;
        bottom: 70px;
        opacity: 0.6;

        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
        .img-icon {
            margin-top: 30px;
            height: 125px;
            width: 29px;
            border-radius: 0;
        }
        .img-music {
            margin-top: 16px;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: conic-gradient(
                from 90deg at 50% 50%,
                rgb(57, 57, 57) -40.11deg,
                rgb(21, 21, 21) 47.27deg,
                rgb(57, 57, 57) 143.02deg,
                rgb(22, 22, 22) 227.49deg,
                rgb(57, 57, 57) 319.89deg,
                rgb(21, 21, 21) 407.27deg
            );
            display: flex;
            justify-content: center;
            align-items: center;
            animation: spinner 3s linear infinite;
            img {
                height: 24px;
                width: 24px;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }

    .user-info {
        position: absolute;
        color: #fff;
        bottom: 68px;
        width: 150px;
        left: 24px;
        opacity: 0.6;

        h4,
        p {
            font-size: 1.2rem;
            line-height: 1.7rem;
            font-family: 'ProximaNova';
            font-weight: 700;
            margin-bottom: 4px;
        }
        p {
            max-width: 150px;
            text-overflow: ellipsis;
            overflow: hidden;
            flex-wrap: nowrap;
            white-space: nowrap;
        }

        .run-music {
            display: flex;
            width: 200px;

            span {
                svg {
                    fill: #fff;
                }
            }

            .run-music-title {
                overflow: hidden;
                width: 180px;
                display: flex;
                .run {
                    animation: rightToLeft 4.5s linear infinite;
                    padding: 0px 20px;
                    overflow: visible;
                }
            }
        }
    }
}

.video-details {
    flex: 1;
    margin-left: 24px;
    p {
        font-family: 'ProximaNova';
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
}

.captions {
    width: 100%;
    display: flex;
    align-self: center;
    border: 1px solid rgba(22, 24, 35, 0.12);

    input {
        flex: 1;
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        cursor: text;
        width: 100%;
        position: relative;
        padding: 12px 16px 12px 16px;
        overflow: auto;
    }
}

.options {
    margin-top: 24px;
    cursor: pointer;

    .title {
        width: 300px;
        height: 36px;
        border: 1px solid rgba(22, 24, 35, 0.12);
        background: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        padding: 7px 12px;
        font-weight: 400;
        color: rgb(22, 24, 35);

        span {
            margin-top: 4px;
        }
    }
}

.choose {
    width: 300px;
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1) 0s;
    overflow: overlay;
    border-radius: 4px;
    padding: 4px 0px;
    background-color: white;

    .active {
        background: rgba(22, 24, 35, 0.06);
    }

    span {
        width: 100%;
        display: flex;
        background: rgb(255, 255, 255);
        padding: 10px 12px;
        font-family: 'ProximaNova';
        font-size: 1.6rem;
        line-height: 2.2rem;
        box-sizing: border-box;
        color: rgb(22, 24, 35);
        cursor: pointer;

        &:hover {
            background: rgba(22, 24, 35, 0.03);
        }
    }
}

.allows-users {
    margin-top: 24px;
    z-index: -1;

    p {
        padding-bottom: 4px;
    }

    input {
        accent-color: var(--primary);
        height: 16px;
        width: 16px;
        margin-right: 12px;
    }
    span {
        font-size: 1.6rem;
        font-family: 'ProximaNova';
        font-weight: 400;
        margin-right: 32px;
    }
}

.btns {
    margin-top: 24px;
    display: flex;

    button {
        cursor: pointer;
        min-width: 96px;
        width: 164px;
        height: 48px;
        margin-right: 16px;
        font-size: 1.6rem;
        font-weight: 600;
        font-family: 'ProximaNova';
        border-radius: 2px;
    }

    .btn-discard {
        background-color: transparent;
        border: 1px solid rgba(22, 24, 35, 0.12);

        &:hover {
            background-color: rgba(245, 245, 245, 1);
            border-color: rgba(22, 24, 35, 0.2);
        }
    }

    .btn-post {
        background-color: var(--primary);
        border: 1px solid var(--primary);
        color: white;

        &:hover {
            background-color: rgba(234, 40, 78, 1);
            border-color: rgba(234, 40, 78, 1);
        }
    }

    .btn-disabled {
        color: rgba(22, 24, 35, 0.34);
        background-color: rgba(235, 235, 235, 1);
        border-color: rgba(235, 235, 235, 1);
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes rightToLeft {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-120%);
    }
}
